header{
    background-color: #292929;
    color:rgb(205, 224, 242);
}
.navbar1 ul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 15px;padding: 20px;
}
.navbar1 ul li {
    list-style:none;
    background-color: #fff;
    padding: 10px;
    width: 12%;
    text-align: center;
    border-radius: 30px;
    border: none;
    height: 45px;
}
.navbar1 ul li:hover{
    transform: scale(1.05);
}

.navbar1 ul li a{
    text-decoration: none;
    font-size: 18px;
}




